.desk__todo-btn,
.desk__btn-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    border: none;
    font-size: 1.3rem;
}

.desk__todo-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.desk__btn-remove:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bg-light-green {
    background-color: var(--color-lightgreen);
}

.bg-light-red {
    background-color: var(--color-lightred);
}

.btn-remove-done {
    margin-left: auto;
}

.todo__btn-edit {
    margin-left: auto;
    margin-right: .3em;
    padding: .3em;
}

.todo__btn-edit:hover {
    cursor: pointer !important;
}

.todo__btn-remove {
    padding: .3em;
}

.todo__btn-remove:hover {
    cursor: pointer !important;
}

.todo__btn-move {
    margin-left: auto;
    cursor: pointer;
}