.desk__todo-btn,
.desk__btn-remove {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
    border: none;
    font-size: 1.3rem;
}

.desk__todo-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.desk__btn-remove:hover {
    cursor: pointer;
    opacity: 0.8;
}

.bg-light-green {
    background-color: var(--color-lightgreen);
}

.bg-light-red {
    background-color: var(--color-lightred);
}